.float {
  float: left;
  width: 250px;
  margin: 0.75em;
}
.active {
  background: #59ee9e;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

title {
  width: 50%;
  float: left;
}

.col {
  padding: 0;
}
